@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand',sans-serif;
  font-size: 100%;
}

.timer-container {
  background-image: url("aron-visuals-BXOXnQ26B7o-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  width: 100%;
  height: 100vh;
}

.timer {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 7em;
  padding-top: 2em;
  width: 100%;
  height: 100%;
}

.timer div:first-child {
  text-align: center;

}

.timer-icon {
  font-size: 8em;

}

h2 {
  font-weight: 600;
  margin-bottom: 0.5em;
}

.timer div:first-child p {
  color: #f8f8f8;
}

.timer div:last-child {
  border: 1px solid white;
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 3em;
  padding: 3em;
  text-align: center;
}

section p:first-child, .timer div:last-child span {
  font-size: 3em;
}

@media screen and (max-width: 480px) {
  .timer div:last-child {
    margin-left: 2em;
    margin-right: 2em;
    padding: 3em 1em;
  }
}
.pick-date{
  display: block;
  position: absolute;
  top: 30%;
  right: 50%;
}
.pick-date input{
  text-align: center;
  width: 100%;
  height: 2rem;
  background: white;
}
